body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}

h1 {
    font-size: 3rem;
    color: rgb(9, 5, 0);
}

.choices {
    margin-bottom: 30px;
}

.choices button {
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0 10px;
    border-radius: 250px;
    background-color: brown;
    cursor: pointer;
    transition: background-color 0.5s ease;
    
}

.choices button:hover {
     background-color: rgb(173, 81, 81);
}

#playerDisplay,
#computerDisplay {
    font-size: 2.5rem;
}
#resultDisplay {
    font-size: 5rem;
    margin: 30 0;
}

.ScoreDisplay {
    font-size: 2rem;
    margin-top: 10px;
}

.greentext, 
#PlayerScoreDisplay{
    color: rgb(24, 129, 24);
    font-weight: bold;
    transition: color 0.3s ease;
}

.redtext, #ComputerScoreDisplay{
    color: rgb(248, 4, 4);
    font-weight: bold;
    transition: color 0.3s ease;
}